<p style="color: green"><%= notice %></p>
<div class='d-flex justify-content-between align-items-center'>
  <div class='col-4'>
    <div class='d-flex justify-content-between align-items-center'>
      <h1>Users</h1>
    </div>
  </div>
  <div>
    <%= link_to "New user", new_user_path %>
  </div>
</div>
<div id="users">
  <%= render 'users_list', users: @users %>
</div>
