<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"> <%= check_box_tag 'select_all_leads', nil, nil, data: { action: 'change->leads#select_all_leads' } %></th>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col">Lawsuit #</th>
      <th scope="col">Amount Owed</th>
      <th scope="col">Property Sold</th>
      <th scope="col">County</th>
      <th scope="col">Date Sold</th>
      <th scope="col">Mortgage Company</th>
      <th scope="col">Initial Bid Amount</th>
      <th scope="col">Sold Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @leads.each do |lead| %>
      <%= render lead %>
    <% end %>
  </tbody>
</table>
