<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Company Name</th>
        <th>Phone</th>
        <th>Open Balance</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.display_name %></td>
          <td><%= customer.company_name %></td>
          <td><%= customer.primary_phone&.free_form_number %></td>
          <td><%= customer.balance %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
