<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">What to do</th>
      <th scope="col">Client</th>
      <th scope="col">Priority</th>
    </tr>
  </thead>
  <tbody>
    <% activities.each do |activity| %>
      <%= render activity %>
    <% end %>
  </tbody>
</table>
